<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin: 0;
            padding: 20px;
        }
        .container {
            max-width: 600px;
            margin: auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h2 {
            color: #333;
        }
        p {
            color: #777;
        }
        #otp {
            font-size: 24px;
            font-weight: bold;
            color: #4caf50;
            margin-bottom: 20px;
        }
        #warning {
            color: #ff0000;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Email Verification</h2>
        <p>Hello {{firstName}},  Your One-Time Password (OTP) for {{useCase}} is:</p>
        <div id="otp">{{OTP}}</div>
        <p id="warning">Please do not share your OTP with anyone. This OTP is valid for a short duration.</p>
    </div>
</body>
</html>